<h1>Welcome {{ user.name }}</h1>
<h2>Highscore: {{ user.highscore }}</h2>


<p>Goal: {{ word }}</p>
<p>Current: {{ wordGuess }}</p>
<p>Correct guess count: {{ correctGuessCount }}</p>
<p>Incorrect guess count: {{ incorrectGuessCount }}</p>

<input #searchBox id="search-box" />
<button (click)="guessLetter(searchBox.value)" [disabled]="gameState.gameOver">Guess!</button>

<div *ngIf="gameState.victory">Victory :)</div>
<div *ngIf="gameState.lost">You lost :(</div>
<button *ngIf="gameState.gameOver" (click)="startGame()">Click here to restart!</button>