<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <div fxFlex fxLayout="column">
            <img fxFlex="15" src="assets/hangman-logo.svg">
            <mat-nav-list fxFlex>
                <a mat-list-item routerLink="/user">
                    <mat-icon mat-list-icon>house</mat-icon>
                    <span mat-line>{{ 'home' | translate }}</span>
                </a>
                <a mat-list-item routerLink="/game" *ngIf="userService.IsLogged">
                    <mat-icon mat-list-icon>list</mat-icon>
                    <span mat-line>{{ 'game' | translate }}</span>
                </a>
            </mat-nav-list>
            <div fxFlex="8" fxLayout="row" fxLayoutAlign="center center">
                <a mat-button fxFlex fxLayoutAlign="center" [routerLink]="" (click)="changeLanguage('en')">EN</a>
                <a mat-button fxFlex fxLayoutAlign="center" [routerLink]="" (click)="changeLanguage('pt')">PT</a>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlex fxLayout="column" fxLayoutAlign="center center">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>